<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--STYLESHEETS-->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <!--SCRIPTS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
</head>

<body>
    <!--HEADER-->
    <header class="row">
        <div class="col-sm-12 header">
            <h1 id="header-headline">Landfall of Atlantic Hurricanes 1950-2015</h1>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="navbar navbar-default" id="nav1">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="nav-links">
                    <li><a href="{{url_for('get_home_page')}}">Introduction</a></li>
                    <li><a href="{{url_for('get_dashboard')}}">Dashboard</a></li>
                    <li><a href="{{url_for('methodology')}}">Methodology</a></li>
                    <li><a href="{{url_for('code')}}">Code</a></li>
                </ul>


            </div>
        </div>
    </nav>

    <main class="row">
        <!--IMAGE SIDEBAR-->
        <div class="col-sm-4" id="image">
            <img src="/static/images/background.jpg" alt="hurricane damaged cityscape" class="index-image"></img>
        </div>
        <!--CONTENT PANEL-->
        <content class="col-sm-8" id="content">
            <div class="content-text-container">
                <h2 id="content-panel-headline">Introduction</h2>
                <p></p>

            </div>

        </content>
    </main>
</body>

</html>